GREEN_HTML_SERVER_HOST=0.0.0.0
GREEN_HTML_SERVER_PORT=8080
GREEN_HTML_SERVER_READ_TIMEOUT=5s
GREEN_HTML_SERVER_WRITE_TIMEOUT=10s
GREEN_HTML_SERVER_IDLE_TIMEOUT=120s
GREEN_HTML_SERVER_SHUTDOWN_TIMEOUT=10s

GREEN_HTML_LOG_LEVEL=trace
GREEN_HTML_LOG_DIR=log
GREEN_HTML_LOG_PRETTY=true
GREEN_HTML_LOG_TO_FILE=true
GREEN_HTML_LOG_CALLER=true

GREEN_HTML_GREEN_API_BASE_URL=https://1105.api.green-api.com
GREEN_HTML_GREEN_API_REQUEST_TIMEOUT=15s